*{
	padding:0;
	margin:0;
	

	
}
.inicio{
	background-color:#C14748;
	height:100vh;
	h1{
		text-align: center;
		color:white;
		font-size: 37px;
		font-family: 'Anton', sans-serif;
		margin-bottom:47px;
		padding-top:5%;
		margin-left:5px;
		margin-right:5px;
	}

	.btn{
		text-align:center;
		padding: 5px 0;
		margin-top:10px;
		margin:15px;
		margin-bottom:10px;
		margin-left:5px;
		margin-right:5px;

		text-align: center;
		margin: 12px 1px 3px;

	}
	.btn, .btn-large {
		color: #C14748;
		background-color: white;
		letter-spacing: .5px;
		-webkit-transition: .2s ease-out;
		transition: .2s ease-out;
		cursor: pointer;
	}
	.btn, .btn-flat, .btn-large {
		border: none;
		border-radius: 2px;
		display: inline-block;
		height: 33px;
		line-height: 36px;
		padding: 0px 2rem;
		text-transform: uppercase;
		vertical-align: middle;
		width: 400px;
		max-width:100%;

	}
	a {
		background-color: transparent;
		color: #f6fafb;
		padding:2px;

	}
	.btn, .btn-large, a {
		
	}

}

//INDEX 2.
.inicio-account{

	background-color:#E1E1E1;;
	height:100vh;
	
	h6 {
		font-size: 1rem;
		margin: 1.5rem 0 .4rem;
	}

	nav .nav-wrapper {
		position: relative;
		height: 100vh;
		background-color: #2F2F34;
		padding:20px;
	}
	
	.row .col.l1, .row .col.l10, .row .col.l11, .row .col.l12, .row .col.l2, .row .col.l3, .row .col.l4, .row .col.l5, .row .col.l7, .row .col.l8, .row .col.l9 {
		margin-left: auto;
		left: auto;
		right: auto;
		margin-top: 50px;
	}
	input[type=text], select {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		background-color: white;
		padding-top:-50;
	}

	label{
		text-align:left;
		color: #C14748;
		font-size:17px;
	}
	button{
		background-color: #2F2F34;
		color:white;
		text-align:center;
	}
}
//FIN INDEX-2

//INICIO INDEX-3

.actor{
	background-color:#C14748;
	height:50vh;
	h1{
		text-align: center;
		color:white;
		font-size: 37px;
		font-family: 'Anton', sans-serif;
		padding-top:12%;
		padding-bottom:17%;
	}
	.responsive-table .table{ 
		background-color:white;
	}
}


.profile{
	img {
		border: 2px solid;
		border-radius: 25px;
	}
}